# dependencies
/node_modules
/packages/*/node_modules

# render-wasm build artifacts (produced outside the repo)
/public/js/

# next.js
/.next/
/out/
/build

# misc
.DS_Store
*.pem
npm-debug.log*
pnpm-debug.log*

# env
.env
.env*.local

# typescript
*.tsbuildinfo